@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

@font-face {
    font-family: 'navilu';
    src: url(../fonts/customFonts/navilu.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
  }
  html {
    scroll-behavior: smooth;

  }

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background-color: #422874;
    border: 2px solid #555555;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background: #f5f8fd;
}
.inside-sub-image-container:hover .black-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 25, 25, 0.3);
    border-radius: 10px;
    
}
.image-info {
    position: absolute;
    /* width: calc( 100% - 10px); */
    width: 0;
    left: 0;
    overflow: hidden;

    height: 40px;
    bottom: 20%;
    background-color: black;
    display: flex;
    align-items: center;
    color: white;
    transition: 0.2s;
    justify-content: center;
    font-family: Numberlin;
    letter-spacing: 2px;
}
.inside-sub-image-container:hover .image-info {
    width: 100%;
}

.image-container {
    position: relative;
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    overflow: hidden;
    gap: 10px;
    width: calc(100vw - 10px);
    /* border: 1px solid red;  */
    margin-bottom: 5px;
}
.white-shadow {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 0;
    background-color: white;
    -webkit-box-shadow: 0px 3px 69px 42px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 3px 69px 42px rgba(255, 255, 255, 1);
    box-shadow: 0px 3px 69px 42px rgba(255, 255, 255, 1);
    z-index: 10;
}

.sub-image-container {
    min-width: 150px;
    width: 500px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: -100px;
}
.sub-image-container .inside-sub-image-container {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/* .sub-image-container:nth-child(1),.sub-image-container:nth-child(2),.sub-image-container:nth-child(6),.sub-image-container:nth-child(7){
display: none;
  } */
/* .sub-image-container:first-child .inside-sub-image-container {
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
 }
 .sub-image-container:first-child .inside-sub-image-container .black-overlay{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
 } */
.sub-image-container .img-long {
    width: 100%;
    height: calc(43vh - 24px );
}
.sub-image-container .img-normal {
    width: 100%;
    height: calc( 33vh - 24px );
}
.sub-image-container .img-short {
    width: 100%;
    height: calc( 24vh - 24px);
}
.sub-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-top {
    -webkit-animation: slide-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/* Animation */

/* ----------------------------------------------
 * Generated by Animista on 2022-11-6 15:36:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
    0% {
        opacity: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}
@keyframes slide-top {
    0% {
        opacity: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}

/*Below Content in home pages*/

.navilu-item {
    min-width: 100vw;
    height: calc(100vh - 96px);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    
    /* flex-wrap: wrap; */
}
@media (max-width: 768px) {
    .navilu-item {
        display: flex;
        flex-direction: column;
    }
    .navilu-item > .navilu-below-image-container {
        height: 70%;
        order: 1;
    }
    h1.container-h1 {
        font-size: 6vw;
    }
}
.navilu-item > div {
    flex: 50%;
}
.navilu-container-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(42, 42, 42);
}
.navilu-container-info p {
    font-weight: light;
    font-size: 20px;
}
.navilu-below-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navilu-below-image-container .slide {
    width: 80%;
    height: 80%;
    overflow: hidden;
    border-radius: 10px;
}
.navilu-below-image-container .carousel-item {
    width: 100%;
    height: 100%;
}
.navilu-below-image-container img {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.navilu-below-image-container .carousel-inner {
    height: 100%;
    display: flex;
    align-items: center;
}
.navilu-item-1  {
    /* background-color: rgb(255, 197, 197); */
    background-color: white;
}
.navilu-item-2 {
    /* background-color: rgb(255, 219, 197); */
}
.navilu-item-3 {
    /* background-color: rgb(255, 253, 197); */
    background-color: white;
}
.navilu-item-4 {
    background-color: rgb(207, 255, 197);
}
.navilu-item-5 {
    background-color: rgb(197, 197, 255);
}
.navilu-item-6 {
    background-color: rgb(221, 197, 255);
}
.navilu-item-7 {
    background-color: rgb(255, 197, 244);
}
.tile-img {
    position: absolute;
    border-radius: 2vw;
    overflow: hidden;
}
.tile-img img {
    width: 100%;
}
.tile-img-1 {
    width: 300px;
    min-width: 150px;
    rotate: 90deg;
}
.tile-img-2 {
    min-width: 150px;
    max-width: 300px;

    rotate: -180deg;
}
.tile-img-3 {
    min-width: 100px;
    max-width: 200px;
    rotate: -180deg;
}
h1.container-h1 {
    font-family: Numberlin;
}

.search-form {
    /* position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%); */
    /* width: 100%; */
    height: 40px;
    position: relative;
    transition: 1s;
    z-index: 200;
    
}
.search-label {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.search-label .input-container {
    position: absolute;
    right: 40px;
    width: 250px;
}
.search-form input {
    height: 40px;
    width: 0;
    transition: 0.5s;
}
.floating-button{

  z-index: 90;
    display: flex;
    justify-content: center;
    align-items: center;
}
.floating-button:focus{
    outline: none;
    border: none;
    box-shadow: none;
}
.bounce-top {
    -webkit-animation: bounce-top 1.2s steps(10, end) 2s infinite ;
    animation: bounce-top 1.2s steps(10, end) 2s infinite ;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-4-19 12:24:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-2px);
              transform: translateY(-2px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  @keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-2px);
              transform: translateY(-2px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  
.btn-search  , .btn-pdf,.floating-button{
    color: white;
    border-radius: 50%;
    /* background-color: #9470d7; */
    background-image: linear-gradient(195deg,#49a3f1,#1a73e8);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(0,188,212,.4)!important;
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    box-shadow: 0px 3px 8.3px 0.7px rgb(163 93 255 / 35%);
    transition: 0.5s;
}
.btn-pdf{
    border-radius: 5px;
    padding: 5px 10px;
}
.btn-search:focus {
    outline: none;
}
.input-search {
    outline: none !important;
    width: 250;
}
input::-webkit-calendar-picker-indicator {
    opacity: 0;
}
.input-search:focus {
    outline: none !important;
    border: 1px solid black;
    box-shadow: none;
}
#button-addon2 {
    background-image: linear-gradient(195deg,#49a3f1,#1a73e8);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(0,188,212,.4)!important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: white;
}
.input-anime {
    -webkit-animation: slide-in-bck-center 0.7s
        cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
}

@-webkit-keyframes slide-in-bck-center {
    0% {
        -webkit-transform: translateZ(600px);
        transform: translateZ(600px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}
@keyframes slide-in-bck-center {
    0% {
        -webkit-transform: translateZ(600px);
        transform: translateZ(600px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

#button-addon2:focus {
    background-color: rgb(142, 56, 186);
    box-shadow: 0px 15px 20px rgba(142, 56, 186, 0.4);
    color: #fff;
    /* transform: translateY(-7px); */
}
/* .input-container{
  display: none;
} */

/* CSS */
.button-71 {
    background-color: #0078d0;
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu,
        "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 600;
    outline: 0;
    padding: 16px 21px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    min-width: 70%;
}

.button-71:before {
    background-color: initial;
    background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
    border-radius: 125px;
    content: "";
    height: 50%;
    left: 4%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    transition: all 0.3s;
    width: 92%;
}

.button-71:hover {
    box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
        rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
    transform: scale(1.05);
}

@media (min-width: 768px) {
    .button-71 {
        padding: 16px 48px;
    }
}

.grid-item {
    box-shadow: 0 10px 29px 0 rgb(68 88 144 / 10%);
}

/* @import url("https://fonts.googleapis.com/css?family=Mukta:700"); */

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}
button.learn-more {
    width: 12rem;
    height: auto;
}
button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background-image: linear-gradient(to bottom right, #00C0FF, #4218B8);
    color: black;
    border-radius: 1.625rem;
}
button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}
button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}
button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    /* text-transform: uppercase; */
}
button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}
button:hover .button-text {
    color: #fff;
}

@supports (display: grid) {
    #container {
        grid-area: main;
        align-self: center;
        justify-self: center;
    }
}
.nav-link.active-menu {
    border-bottom: 2px solid red;
}
#lazyImg.lazy-load li img {
    display: block;
    opacity: 0;
    width: 100%;
    transform: translateY(25%);
}

#lazyImg.lazy-load li img.loaded {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s ease;
}
.color-1 {
    background-color: #665847;
}
.color-2 {
    background-color: #8f6357;
}
.color-3 {
    background-color: #4d4d4a;
}
.color-4 {
    background-color: #555441;
}
.color-5 {
    background-color: #deba8e;
}
.color-6 {
    background-color: #183373;
}
@media (max-width: 991.98px) {
    .search-form {
        top: 0;
    }
}

.activeLabels {
    background-color: white !important;
    border: 1px solid black !important;
    color: black !important;
    border-top-left-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
}
.head-container{
    position: absolute;
    /* top: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    align-items: center;
    /* width: 100%; */
    /* padding-top: 10px; */
    /* background-color: red; */
}
.head-container span{
    font-family: icomoon;
    font-size: 1rem;
    font-weight: 300;
    word-spacing: -4px;
   
}
@media (max-width: 600px) {
    .head-container span{
        font-family: icomoon;
    font-size: 1rem;
    font-weight: 300;
    word-spacing: -4px;   
    }  }
.animate-gradient {
    text-align: center;
    background: linear-gradient(60deg, #37b8ab 20%, #0f1e64 40%, #0f1e64 60%, #37b8ab 80%);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: shine 5s linear infinite;
            animation: shine 5s linear infinite;
            font-family: icomoon;
     letter-spacing: 0.2px;
     height: 80px;
    line-height: 100px;
  

  }
  @-webkit-keyframes shine {
    to {
      background-position: 200% center;
    }
  }
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
  
  .img-long{
    order: 1;
    transition: display 2s ease;
}
.img-normal{
    order: 2;
    transition: display 2s ease;
}
.img-short{
    order: 3;
    transition: display 2s ease;
}
.carousel{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.m-10px{
    margin-top: 10px;
}

.about-img{
    background: white;
    border-radius: 5px;
    margin: 0 10px;
    overflow: hidden;
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.about-img img{
  width: auto;
  height: 100%;
  
}

footer{
  overflow: hidden;
   
padding: 10px;
    background-color: rgb(45,49,145);
  
}
.aboutUs{
    display: flex;
    flex-wrap: wrap;
    padding:10px 30px;
}
.aboutUs > div{
    min-width: 300px;
    width: 50%;
    margin: auto;
  
}

#contactUs{
    padding: 10px;
}

@media (max-width: 350px) {
#contactUs div:first-child{
order: 1;
} 
}
@media (max-width: 350px) {
    #contactUs .child:nth-child(2){
   scale: 0.7 !important;
  
}
.aboutUs {
    padding: 10px 5px;
}
.aboutUs > div {
    max-width: 350px;
    width: 300px;
    min-width: 100px !important;
}
/* .aboutUs  div .container-fluid{
    width: 200px !important;
} */
/* .about-img{
    height: 0px;
    width: 150px;
} */
.address-footer iframe{
    scale: 0.7 !important;
}
}
#contactUs iframe::-webkit-scrollbar {
    width: 10px !important;
  }
  
  #contactUs iframe::-webkit-scrollbar-track {
    background-color: #f1f1f1 !important;
  }
  
  #contactUs iframe::-webkit-scrollbar-thumb {
    background-color: #888 !important;
    border-radius: 5px !important;
  }
  
  
.address-footer{
    display: flex;
    align-items: start;
    justify-content: center;
    padding:10px 30px;
    background-color: rgb(45,49,145);
    color: white !important;
    text-align: left;
    gap:50px;
    flex-wrap: wrap;
}
.address-footer > div{
    min-width: 300px;
}
.address-footer > div
.text-bold{
font-weight: 600;
}
.address-footer > div > span{
    /* font-weight: bold; */
    display: block;
}
.new_scroll_menu_container {
    max-width: 800px;
  width: 100%;
  min-height: 50px;
 display: flex;
 align-items: center;
 flex-wrap: wrap;
 overflow-y: auto;


}
.default-bar{
  height: 100%;
  width: 250px;
  margin: 0;
  display:flex;
  justify-content: center;
  flex-wrap:nowrap;
  gap:10px;
  list-style: none;
  white-space: nowrap;
  align-items: center;
  padding: 10px;
flex:1 0 250px;
  
}
.default-bar li{
    cursor: pointer;
}
.new_scroll_menu {
  height: 100%;
  margin: 0;
  width: 550px;
  padding:10px 20px;
  text-align: center;
  overflow-x: auto;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex: 1 0 550px;
 
}
@media (max-width: 550px) {
  /* your CSS rules here */
  .new_scroll_menu{
    width: 100%;
    flex: unset;
  }
}
.new_scroll_menu::-webkit-scrollbar {
  height: 2px;
}

.new_scroll_menu li {
  display: inline-block;
  margin-right: 10px;
  white-space: nowrap;
}

.new_scroll_menu li:last-child {
  margin-right: 0;
}

.new_scroll_menu li a {
  color: #333;
  text-decoration: none;
}

.new_scroll_menu li a:hover {
  color: #666;
}
.new_scroll_menu  .owl-buttons > div{
    background: transparent !important;
    
} 
.new_scroll_menu  .owl-buttons > div:hover{
    background: rgba(232, 229, 229, 0.251) !important;
    
} 
/* .new_scroll_menu  .owl-buttons > div:hover::after{
    color: rgb(24, 24, 24) !important;
    
}  */
.new_scroll_menu  .owl-buttons > div::after{
    color: white !important;
    
} 